body {
    font-family: sans-serif;
    background-color: #f2f2f2; 
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    color: black;
    text-shadow: 2px 2px 4px #ff6600;
    letter-spacing: 2px;
    margin-top: 20px; 
}

.customer-container,
.order-container {
    width: 80%;
    margin: 10px auto; 
    padding: 15px;
    background-color: orange; 
}


.container {
    max-width: 850px;
    margin: 100px auto;
    padding: 10px 10px 50px;
    border: 1px solid orange;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.containers {
    max-width: 850px;
    margin: 20px auto; 
    padding: 15px;
    border: 1px solid orange;
    border-radius: 5px;
    background-color: #f9f9f9;
}



table,
        tr,
        td {
            width: 100%;
            padding: 10px;
        }

th {
    text-align: left;
    font-size: 25px;
}


.order-info th {
    text-align: center;
}

.order-info th a {
    font-family:sans-serif;
    font-weight: bold;
    font-size: larger;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-decoration: none;
    margin-left: 190px;
   
}

tr.left th a {
    margin-left: 550px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-decoration: none;
}


.order-info th a img {
    max-width: 350%; 
    height: auto;
    
}

.order-info th span {
    margin-top: 10px; 
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    color: black;
    text-shadow: 2px 2px 4px #ff6600;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 50px;
}

@keyframes floatUpDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

img {
    animation: floatUpDown 2s infinite;
}

